{% extends '../header/header.html' %}
{% load static%}
{% block css %}
    <link rel="stylesheet" href="{% static '/styles/book.css' %}">
{% endblock %}
{% block title %} {{author.name}} Details {% endblock %}

{% block content %}
    <div class="card" style="width: 18rem;">       
        <div class="card-body">
          <h5 class="card-title" id="bname">{{author.id}} : {{author.name}}</h5>
          <h5 class="card-title"> Author books : </h5>
            <ul>
                {% for book in books %}
                <li> {{book.name}} </li>
                {% empty %}
                <h1> no author found</h1>
                 {% endfor %}
            </ul>
          <h5 class="card-title"> No of books : {{number_of_books}} </h5>
          <a href="{% url 'books'  %}" class="btn btn-light"> Return to books</a>
        </div>
      </div>
{% endblock %}